Repository LironEr/bundlemon: changes, and which Codecov flags are due for each by the changed paths.
All: packages, service

BREAKING CHANGE: use new auth
  .eslintrc.json
  .github/workflows/build-web.yml
  README.md
  packages/bundlemon/src/common/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/common/consts.ts
  packages/bundlemon/src/common/service.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/initializer.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/report/generateReport.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/controllers/utils/auth.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/githubOutput.ts
Due: packages, service

fix(website): unable to create project
  website/src/services/bundlemonService.ts
Due: none

fix(website): unable to create project (#120)
  website/src/services/bundlemonService.ts
Due: none

verify if provider is authenticated before creating project id
  .github/workflows/build-web.yml
  README.md
  packages/bundlemon/src/common/service.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/src/consts/projects.ts
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/projectsController.ts
  service/src/framework/github.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  service/src/types/schemas/projects.ts
Due: packages, service

add tests
  codecov.yml
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/src/consts/projects.ts
Due: packages, service

BREAKING CHANGE: use new auth (#117)
  .eslintrc.json
  .github/workflows/build-web.yml
  README.md
  codecov.yml
  packages/bundlemon/src/common/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/common/consts.ts
  packages/bundlemon/src/common/service.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/initializer.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/report/generateReport.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/controllers/projectsController.ts
  service/src/controllers/utils/auth.ts
  service/src/framework/github.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/githubOutput.ts
  service/src/types/schemas/projects.ts
Due: packages, service

chore: update codecov settings
  codecov.yml
Due: none

chore(dev-deps): upgrade
  dev-utils/getJestConfig.ts
  jest.config.base.js
  jest.config.base.ts
  jest.config.js
  jest.config.ts
  package.json
  packages/bundlemon-markdown-output/jest.config.js
  packages/bundlemon-markdown-output/jest.config.ts
  packages/bundlemon-utils/jest.config.js
  packages/bundlemon-utils/jest.config.ts
  packages/bundlemon/jest.config.js
  packages/bundlemon/jest.config.ts
  packages/bundlemon/src/main/__tests__/index.spec.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/analyzeLocalFiles.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/fileDetailsUtils.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/getFileSize.spec.ts
  packages/bundlemon/src/main/outputs/__tests__/outputManager.spec.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  service/jest.config.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  website/package.json
  yarn.lock
Due: packages, service

chore(dev-deps): upgrade (#121)
  dev-utils/getJestConfig.ts
  jest.config.base.js
  jest.config.base.ts
  jest.config.js
  jest.config.ts
  package.json
  packages/bundlemon-markdown-output/jest.config.js
  packages/bundlemon-markdown-output/jest.config.ts
  packages/bundlemon-utils/jest.config.js
  packages/bundlemon-utils/jest.config.ts
  packages/bundlemon/jest.config.js
  packages/bundlemon/jest.config.ts
  packages/bundlemon/src/main/__tests__/index.spec.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/analyzeLocalFiles.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/fileDetailsUtils.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/getFileSize.spec.ts
  packages/bundlemon/src/main/outputs/__tests__/outputManager.spec.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  service/jest.config.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  website/package.json
  yarn.lock
Due: packages, service

Add a note about CI_TARGET_BRANCH for CircleCI in readme
  README.md
Due: none

docs: Add a note about CI_TARGET_BRANCH for CircleCI in readme (#122)
  README.md
Due: none

feat: option to post GitHub output only on failures
  README.md
  packages/bundlemon/src/main/outputs/outputs/__tests__/github.spec.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
Due: packages

docs: migration guide
  README.md
  docs/migration-v1-to-v2.md
Due: none

feat: option to post GitHub output only on failures (#124)
  README.md
  packages/bundlemon/src/main/outputs/outputs/__tests__/github.spec.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
Due: packages

chore: bump version
  .github/workflows/build-web.yml
  packages/bundlemon/package.json
  yarn.lock
Due: packages

feat(service): add optional commit message to commit record
  codecov.yml
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  service/package.json
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/framework/mongo/commitRecords.ts
  service/src/utils/reportUtils.ts
  website/package.json
Due: packages, service

feat(service): add optional commit message to commit record
  codecov.yml
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  service/package.json
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/framework/mongo/__tests__/commitRecords.spec.ts
  service/src/framework/mongo/commitRecords.ts
  service/src/utils/reportUtils.ts
  website/package.json
Due: packages, service

feat: add optional commit message to commit record
  .github/workflows/build-web.yml
  README.md
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.ts
  packages/bundlemon/src/main/utils/ci/index.ts
  packages/bundlemon/src/main/utils/ci/providers/codefresh.ts
  packages/bundlemon/src/main/utils/ci/providers/travis.ts
  packages/bundlemon/src/main/utils/ci/types.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/package.json
  website/.bundlemonrc.json
Due: packages, service

docs: fix https urls
  CONTRIBUTING.md
  README.md
  packages/bundlemon-markdown-output/README.md
  packages/bundlemon-utils/README.md
  packages/bundlemon/README.md
Due: packages

feat(service): add optional commit message to commit record (#127)
  codecov.yml
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  service/package.json
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/framework/mongo/__tests__/commitRecords.spec.ts
  service/src/framework/mongo/commitRecords.ts
  service/src/utils/reportUtils.ts
  website/package.json
Due: packages, service

feat: add optional commit message to commit record (#128)
  .github/workflows/build-web.yml
  README.md
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.ts
  packages/bundlemon/src/main/utils/ci/index.ts
  packages/bundlemon/src/main/utils/ci/providers/codefresh.ts
  packages/bundlemon/src/main/utils/ci/providers/travis.ts
  packages/bundlemon/src/main/utils/ci/types.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/package.json
  website/.bundlemonrc.json
Due: packages, service

feat(website): show commit message in chart tooltip
  website/src/pages/ReportsPage/components/ReportsChart/ReportsChart.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/CustomTooltip.tsx
Due: none

feat(website): show commit message in chart tooltip (#129)
  website/src/pages/ReportsPage/components/ReportsChart/ReportsChart.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/CustomTooltip.tsx
Due: none

feat(website): add dark mode
  website/package.json
  website/src/components/Layout.tsx
  website/src/components/ThemeModeToggle.tsx
  website/src/components/ThemeProvider.tsx
  website/src/consts/theme.ts
  website/src/index.tsx
  yarn.lock
Due: none

feat(website): add dark mode option (#130)
  website/package.json
  website/src/components/Layout.tsx
  website/src/components/ThemeModeToggle.tsx
  website/src/components/ThemeProvider.tsx
  website/src/consts/theme.ts
  website/src/index.tsx
  yarn.lock
Due: none

feat(service): approve limit exceeded
  README.md
  service/src/controllers/utils/githubOutputs.ts
  service/src/framework/github.ts
Due: service

chore: fix codecov yml
  codecov.yml
Due: none

initial github login & approve commit record API
  Dockerfile
  packages/bundlemon-utils/src/types.ts
  service/.gitignore
  service/.vercelignore
  service/dev.env
  service/local-certs/cert.pem
  service/local-certs/key.pem
  service/package.json
  service/scripts/generateSecretKey.js
  service/src/app.ts
  service/src/consts/auth.ts
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/controllers/authController.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/projectsController.ts
  service/src/controllers/usersController.ts
  service/src/controllers/utils/auth.ts
  service/src/controllers/utils/githubOutputs.ts
  service/src/framework/env.ts
  service/src/framework/github.ts
  service/src/framework/mongo/client.ts
  service/src/framework/mongo/commitRecords.ts
  service/src/middlewares/auth.ts
  service/src/routes/api/v1.ts
  service/src/types/auth.ts
  service/src/types/schemas/auth.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/index.ts
  service/src/utils/projectUtils.ts
  service/tsconfig.json
  yarn.lock
Due: packages, service

bump utils version
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon/package.json
  service/package.json
  service/src/app.ts
  website/config/dev.env
  website/package.json
  website/tsconfig.json
Due: packages, service

fix deploy & add api calls to website
  service/api/serverless.js
  service/src/app.ts
  service/src/consts/schemas.ts
  website/src/services/bundlemonService.ts
Due: service

actual approve Github commit status & check run
  packages/bundlemon-utils/src/types.ts
  service/src/app.ts
  service/src/consts/schemas.ts
  service/src/controllers/authController.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/controllers/legacyGithubController.ts
  service/src/controllers/projectsController.ts
  service/src/controllers/utils/githubOutputs.ts
  service/src/framework/env.ts
  service/src/framework/github.ts
  service/src/middlewares/auth.ts
  yarn.lock
Due: packages, service

bump bundlemon-utils
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon/package.json
  service/package.json
  service/src/framework/env.ts
Due: packages, service

chore(website): switch to esbuild-loader
  service/.gitignore
  website/babel.config.js
  website/package.json
  website/src/wdyr.ts
  website/tsconfig.json
  website/webpack/webpack.base.config.js
  yarn.lock
Due: service

chore(website): switch to esbuild-loader (#132)
  service/.gitignore
  website/babel.config.js
  website/package.json
  website/src/wdyr.ts
  website/tsconfig.json
  website/webpack/webpack.base.config.js
  yarn.lock
Due: service

feat(website): approve commit record
  website/babel.config.js
  website/package.json
  website/src/Router.tsx
  website/src/components/Layout/Layout.tsx
  website/src/components/Layout/components/ThemeModeToggle.tsx
  website/src/components/Layout/components/UserSection.tsx
  website/src/components/Layout/index.ts
  website/src/consts/config.ts
  website/src/index.tsx
  website/src/models/UserModel.ts
  website/src/pages/LoginPage.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/ReportHeader/ReportHeader.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproveButton.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproved.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/index.ts
  website/src/pages/ReportPage/components/ReportHeader/index.ts
  website/src/pages/ReportPage/components/TabTitle.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/index.ts
  website/src/services/bundlemonService.ts
  website/src/stores/UserStore.ts
  website/src/wdyr.ts
  website/tsconfig.json
  website/webpack/webpack.base.config.js
  yarn.lock
Due: none

fix tests
  service/dev.env
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  service/src/types/auth.ts
  service/test.env
Due: service

add tests
  service/src/controllers/authController.ts
  service/src/controllers/commitRecordsController.ts
  service/src/framework/github.ts
  service/src/routes/api/__tests__/authRoutes.spec.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/approveCommitRecord.spec.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/getCommitRecords.spec.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/getCommitRecordsWithBase.spec.ts
  service/src/routes/api/__tests__/usersRoutes.spec.ts
  service/tests/app.ts
  service/tests/utils.ts
Due: service

return 401 on GitHub error when trying to login
  service/src/app.ts
  service/src/controllers/authController.ts
  service/src/routes/api/__tests__/authRoutes.spec.ts
  service/src/routes/api/__tests__/usersRoutes.spec.ts
Due: service

Path conditions:
  packages: any of: packages/
  service: any of: service/
