Repository LironEr/bundlemon: changes, and which Codecov flags are due for each by the changed paths.
All: packages, service

codecov.yml:

flags:
  packages:
    paths:
      - packages/
  service:
    paths:
      - service/
coverage:
  status:
    patch: off
    project:
      only_pulls: true
      target: auto

chore(service): change commit record DB schema
  service/scripts/migrateCommitRecordDB.ts
  service/src/framework/mongo/commitRecords/__tests__/utils.spec.ts
  service/src/framework/mongo/commitRecords/index.ts
  service/src/framework/mongo/commitRecords/types.ts
  service/src/framework/mongo/commitRecords/utils.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
Due: service

chore(service): build locally and deploy
  service/.vercelignore
  service/package.json
  service/vercel.json
Due: service

chore(service): build locally and deploy (#135)
  service/.vercelignore
  service/package.json
  service/vercel.json
Due: service

use LoadingButton
  website/src/pages/LoginPage.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproveButton.tsx
Due: none

fix(service): use GitHub App Octokit instance when approving record
  service/src/controllers/commitRecordsController.ts
  service/src/framework/github.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/approveCommitRecord.spec.ts
Due: service

fix(service): use GitHub App Octokit instance when approving record (#136)
  service/src/controllers/commitRecordsController.ts
  service/src/framework/github.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/approveCommitRecord.spec.ts
Due: service

breaking: ignore fails on base branch
  packages/bundlemon-utils/src/diffReport/__tests__/index.spec.ts
  packages/bundlemon-utils/src/diffReport/index.ts
  packages/bundlemon-utils/src/diffReport/utils.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/report/generateReport.ts
  service/src/utils/reportUtils.ts
Due: packages, service

Add Github sponsor
  .github/FUNDING.yml
Due: none

feat(CLI): ability to post GitHub output only on PR
  README.md
  packages/bundlemon/src/main/outputs/outputs/__tests__/github.spec.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
Due: packages

feat(CLI): ability to post GitHub output only on PR (#138)
  README.md
  packages/bundlemon/src/main/outputs/outputs/__tests__/github.spec.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
Due: packages

chore(service): change commit record DB schema (#134)
  service/scripts/migrateCommitRecordDB.ts
  service/src/framework/mongo/commitRecords/__tests__/utils.spec.ts
  service/src/framework/mongo/commitRecords/index.ts
  service/src/framework/mongo/commitRecords/types.ts
  service/src/framework/mongo/commitRecords/utils.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
Due: service

feat(website): approve limit exceeded (#137)
  website/package.json
  website/src/Router.tsx
  website/src/components/Layout/Layout.tsx
  website/src/components/Layout/components/ThemeModeToggle.tsx
  website/src/components/Layout/components/UserSection.tsx
  website/src/components/Layout/index.ts
  website/src/consts/config.ts
  website/src/index.tsx
  website/src/models/UserModel.ts
  website/src/pages/LoginPage.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/ReportHeader/ReportHeader.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproveButton.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproved.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/index.ts
  website/src/pages/ReportPage/components/ReportHeader/index.ts
  website/src/pages/ReportPage/components/TabTitle.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/index.ts
  website/src/services/bundlemonService.ts
  website/src/stores/UserStore.ts
  yarn.lock
Due: none

breaking: ignore fails on base branch (#139)
  packages/bundlemon-utils/src/diffReport/__tests__/index.spec.ts
  packages/bundlemon-utils/src/diffReport/index.ts
  packages/bundlemon-utils/src/diffReport/utils.ts
  packages/bundlemon/src/main/report/__tests__/generateReport.spec.ts
  packages/bundlemon/src/main/report/generateReport.ts
  service/src/utils/reportUtils.ts
Due: packages, service

chore: bump version
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon/package.json
  service/package.json
  website/package.json
Due: packages, service

fix(website): show report pass if same branch (same as CLI & service)
  website/src/services/bundlemonService.ts
Due: none

docs: next version
  README.md
Due: none

docs: update badges to next version
  README.md
Due: none

chore(deps): dependencies upgrade security fix
  .github/workflows/codeql-analysis.yml
  package.json
  service/package.json
  website/package.json
  yarn.lock
Due: service

fix type
  website/src/pages/ReportsPage/components/ReportsChart/components/CustomTooltip.tsx
Due: none

upgrade eslint & plugins
  package.json
  website/package.json
  yarn.lock
Due: none

chore(deps): dependencies upgrade security fix (#142)
  .github/workflows/codeql-analysis.yml
  package.json
  service/package.json
  website/package.json
  website/src/pages/ReportsPage/components/ReportsChart/components/CustomTooltip.tsx
  yarn.lock
Due: service

feat(service): save last record date for project
  service/src/controllers/commitRecordsController.ts
  service/src/framework/mongo/projects.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
Due: service

feat(service): save last record date for project (#143)
  service/src/controllers/commitRecordsController.ts
  service/src/framework/mongo/projects.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
Due: service

feat(service): review commit record
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon-utils/src/consts.ts
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  service/package.json
  service/scripts/migrateCommitRecordDB.ts
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/framework/github.ts
  service/src/framework/mongo/commitRecords/index.ts
  service/src/framework/mongo/commitRecords/types.ts
  service/src/framework/mongo/commitRecords/utils.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/reviewCommitRecord.spec.ts
  service/src/routes/api/v1.ts
  service/src/types/schemas/commitRecords.ts
  service/src/utils/reportUtils.ts
  website/package.json
Due: packages, service

feat(website): review commit record
  website/config/dev.env
  website/config/prod.env
  website/src/consts/config.ts
  website/src/pages/ReportPage/components/ReportHeader/ReportHeader.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproveButton.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproved.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReviewRecord.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReviewReportModal.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/index.ts
  website/src/services/bundlemonService.ts
Due: none

feat(service): review commit record (#144)
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon-utils/src/consts.ts
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  service/package.json
  service/scripts/migrateCommitRecordDB.ts
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/framework/github.ts
  service/src/framework/mongo/commitRecords/index.ts
  service/src/framework/mongo/commitRecords/types.ts
  service/src/framework/mongo/commitRecords/utils.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/reviewCommitRecord.spec.ts
  service/src/routes/api/v1.ts
  service/src/types/schemas/commitRecords.ts
  service/src/utils/reportUtils.ts
  website/package.json
Due: packages, service

feat(website): review commit record (#145)
  website/config/dev.env
  website/config/prod.env
  website/src/consts/config.ts
  website/src/pages/ReportPage/components/ReportHeader/ReportHeader.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproveButton.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReportApproved.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReviewRecord.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/ReviewReportModal.tsx
  website/src/pages/ReportPage/components/ReportHeader/components/index.ts
  website/src/services/bundlemonService.ts
Due: none

docs: add GitHub token scope required by CLI
  README.md
  docs/migration-v1-to-v2.md
Due: none

feat: use Github token only to verify the owner
  README.md
  docs/migration-v1-to-v2.md
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/framework/github.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/reviewCommitRecord.spec.ts
Due: service

feat: use Github token only to verify the owner (#148)
  README.md
  docs/migration-v1-to-v2.md
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/framework/github.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/reviewCommitRecord.spec.ts
Due: service

chore(website-deps): update react-table
  README.md
  website/package.json
  website/public/robots.txt
  website/src/components/PathCell.tsx
  website/src/components/Table/Table.tsx
  website/src/components/Table/components/TableBody.tsx
  website/src/components/Table/components/TableHead.tsx
  website/src/components/Table/components/TableRow.tsx
  website/src/components/Table/index.ts
  website/src/components/Table/types.ts
  website/src/index.html
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/ReportTable/ReportTable.tsx
  website/src/pages/ReportPage/components/ReportTable/components/ChangeSizeCell.tsx
  website/src/pages/ReportPage/components/ReportTable/components/SizeCell.tsx
  website/src/pages/ReportPage/components/ReportTable/components/StatusCell.tsx
  website/src/pages/ReportPage/components/ReportTable/components/index.ts
  website/src/pages/ReportPage/components/ReportTable/index.ts
  website/src/pages/ReportPage/components/StatusCell.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/pages/ReportsPage/components/ReportsChart/components/ColorCell.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/CustomTooltip.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/LegendDataTable.tsx
  yarn.lock
Due: none

chore(website-deps): use material-react-table (#149)
  README.md
  website/package.json
  website/public/robots.txt
  website/src/components/PathCell.tsx
  website/src/components/Table/Table.tsx
  website/src/components/Table/components/TableBody.tsx
  website/src/components/Table/components/TableHead.tsx
  website/src/components/Table/components/TableRow.tsx
  website/src/components/Table/index.ts
  website/src/components/Table/types.ts
  website/src/index.html
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/ReportTable/ReportTable.tsx
  website/src/pages/ReportPage/components/ReportTable/components/ChangeSizeCell.tsx
  website/src/pages/ReportPage/components/ReportTable/components/SizeCell.tsx
  website/src/pages/ReportPage/components/ReportTable/components/StatusCell.tsx
  website/src/pages/ReportPage/components/ReportTable/components/index.ts
  website/src/pages/ReportPage/components/ReportTable/index.ts
  website/src/pages/ReportPage/components/StatusCell.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/pages/ReportsPage/components/ReportsChart/components/ColorCell.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/CustomTooltip.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/LegendDataTable.tsx
  yarn.lock
Due: none

feat(website): fetch user details only if session exists
  service/package.json
  service/src/app.ts
  service/src/controllers/authController.ts
  service/src/routes/api/__tests__/authRoutes.spec.ts
  website/src/pages/LoginPage.tsx
  website/src/stores/UserStore.ts
  yarn.lock
Due: service

feat(website): fetch user details only if session exists (#150)
  service/package.json
  service/src/app.ts
  service/src/controllers/authController.ts
  service/src/routes/api/__tests__/authRoutes.spec.ts
  website/src/pages/LoginPage.tsx
  website/src/stores/UserStore.ts
  yarn.lock
Due: service

chore(website): auto deploy on main branch
  .github/workflows/deploy.yml
  .gitignore
  website/package.json
  yarn.lock
Due: none

add commit message
  .github/workflows/deploy.yml
Due: none

run only if changed
  .github/workflows/deploy.yml
Due: none

use the build workflow
  .github/workflows/build-web.yml
  .github/workflows/deploy.yml
Due: none

chore(website): auto deploy main branch (#151)
  .github/workflows/build-web.yml
  .gitignore
  website/package.json
  yarn.lock
Due: none
