Repository LironEr/bundlemon: changes, and which Codecov flags are due for each by the changed paths.
All: packages, service

codecov.yml:

flags:
  packages:
    paths:
      - packages/
  service:
    paths:
      - service/

add path alias for service tests
  jest.config.js
  service/jest.config.js
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  service/tests/projectUtils.ts
  service/tsconfig.json
Due: service

chore(tests): add some tests to server (#49)
  .github/workflows/pr-checks.yml
  Dockerfile
  codecov.yml
  dev-utils/getJestConfig.js
  docker-compose.dev.yml
  jest.config.js
  package.json
  packages/bundlemon-utils/jest.config.js
  packages/bundlemon/jest.config.js
  service/README.md
  service/docker-compose.test.yml
  service/jest.config.js
  service/package.json
  service/src/app.ts
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/consts/__tests__/commitRecords.spec.ts
  service/src/framework/mongo.ts
  service/src/routes/__tests__/isAliveRoute.spec.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  service/src/routes/index.ts
  service/test.env
  service/tests/app.ts
  service/tests/hooks.ts
  service/tests/projectUtils.ts
  service/tests/setup.js
  service/tests/utils.ts
  service/tsconfig.json
  service/tsconfig.release.json
Due: packages, service

release v1.1.0
  packages/bundlemon/package.json
Due: packages

chore(tests): add more tests to server
  service/src/controllers/utils/auth.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/common.ts
  service/src/types/schemas/githubOutput.ts
  service/src/types/schemas/index.ts
Due: service

chore(tests): add more tests to server (#50)
  service/src/controllers/utils/auth.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/common.ts
  service/src/types/schemas/githubOutput.ts
  service/src/types/schemas/index.ts
Due: service

chore(tests): add node 16 to checks
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
Due: none

chore(tests): add node 16 to checks (#51)
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
Due: none

fix: failure in Groups throws unhandled exception
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/textUtils.ts
  packages/bundlemon/package.json
  service/package.json
  website/package.json
Due: packages, service

fix: failure in Groups throws unhandled exception (#54)
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/textUtils.ts
  packages/bundlemon/package.json
  service/package.json
  website/package.json
Due: packages, service

feat: report page
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/common.ts
  service/src/utils/promiseUtils.ts
  website/package.json
  website/src/Router.tsx
  website/src/components/Layout.tsx
  website/src/components/Table/Table.tsx
  website/src/components/Table/components/TableHead.tsx
  website/src/components/Table/index.ts
  website/src/components/Table/types.ts
  website/src/index.html
  website/src/index.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/ChangeSizeCell.tsx
  website/src/pages/ReportPage/components/PathCell.tsx
  website/src/pages/ReportPage/components/StatusCell.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/ReportPage/index.ts
  website/src/pages/index.ts
  website/src/services/FetchError.ts
  website/src/services/bundlemonService.ts
  website/webpack/webpack.base.config.js
  website/webpack/webpack.dev.config.js
  yarn.lock
Due: service

fix type
  website/src/components/Table/Table.tsx
Due: none

run github actions on next branch
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
Due: none

feat(website): report page (#56)
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/common.ts
  service/src/utils/promiseUtils.ts
  website/package.json
  website/src/Router.tsx
  website/src/components/Layout.tsx
  website/src/components/Table/Table.tsx
  website/src/components/Table/components/TableHead.tsx
  website/src/components/Table/index.ts
  website/src/components/Table/types.ts
  website/src/index.html
  website/src/index.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/ChangeSizeCell.tsx
  website/src/pages/ReportPage/components/PathCell.tsx
  website/src/pages/ReportPage/components/StatusCell.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/ReportPage/index.ts
  website/src/pages/index.ts
  website/src/services/FetchError.ts
  website/src/services/bundlemonService.ts
  website/webpack/webpack.base.config.js
  website/webpack/webpack.dev.config.js
  yarn.lock
Due: service

feat(website): add reports page
  website/babel.config.js
  website/babel.config.json
  website/package.json
  website/src/Router.tsx
  website/src/components/Layout.tsx
  website/src/components/Table/Table.tsx
  website/src/components/Table/components/TableBody.tsx
  website/src/components/Table/components/TableHead.tsx
  website/src/components/Table/components/TableRow.tsx
  website/src/components/Table/types.ts
  website/src/hooks/index.ts
  website/src/hooks/useQueryParams.ts
  website/src/index.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportsPage/ReportsPage.tsx
  website/src/pages/ReportsPage/components/QueryParamsForm.tsx
  website/src/pages/ReportsPage/components/ReportsChart/ReportsChart.tsx
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/pages/ReportsPage/components/ReportsChart/components/ColorCell.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/LegendDataTable.tsx
  website/src/pages/ReportsPage/components/ReportsChart/index.ts
  website/src/pages/ReportsPage/components/ReportsChart/utils.ts
  website/src/pages/ReportsPage/components/ReportsResult.tsx
  website/src/pages/ReportsPage/components/types.ts
  website/src/pages/ReportsPage/index.ts
  website/src/pages/index.ts
  website/src/services/bundlemonService.ts
  website/src/wdyr.ts
  website/tsconfig.json
  yarn.lock
Due: none

feat(website): add reports page (#57)
  website/babel.config.js
  website/babel.config.json
  website/package.json
  website/src/Router.tsx
  website/src/components/Layout.tsx
  website/src/components/Table/Table.tsx
  website/src/components/Table/components/TableBody.tsx
  website/src/components/Table/components/TableHead.tsx
  website/src/components/Table/components/TableRow.tsx
  website/src/components/Table/types.ts
  website/src/hooks/index.ts
  website/src/hooks/useQueryParams.ts
  website/src/index.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportsPage/ReportsPage.tsx
  website/src/pages/ReportsPage/components/QueryParamsForm.tsx
  website/src/pages/ReportsPage/components/ReportsChart/ReportsChart.tsx
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/pages/ReportsPage/components/ReportsChart/components/ColorCell.tsx
  website/src/pages/ReportsPage/components/ReportsChart/components/LegendDataTable.tsx
  website/src/pages/ReportsPage/components/ReportsChart/index.ts
  website/src/pages/ReportsPage/components/ReportsChart/utils.ts
  website/src/pages/ReportsPage/components/ReportsResult.tsx
  website/src/pages/ReportsPage/components/types.ts
  website/src/pages/ReportsPage/index.ts
  website/src/pages/index.ts
  website/src/services/bundlemonService.ts
  website/src/wdyr.ts
  website/tsconfig.json
  yarn.lock
Due: none

fix(website): dont show latest size if file doesn't exist in latest record
  README.md
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/pages/ReportsPage/components/ReportsChart/components/LegendDataTable.tsx
  website/src/pages/ReportsPage/components/types.ts
Due: none

apply higher z-index for chart tooltip so that table header doesnt cover it
  website/src/pages/ReportsPage/components/ReportsChart/ReportsChart.tsx
Due: none

fix github output types
  packages/bundlemon/package.json
  packages/bundlemon/src/main/outputs/outputs/github.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  packages/bundlemon/src/main/utils/validationUtils.ts
  yarn.lock
Due: packages

chore(docs): override CI_COMMIT_SHA without extra step
  .github/workflows/build-web.yml
  README.md
Due: none

fix(service): github output typo
  service/src/framework/github.ts
Due: service

chore(docs): initial docs on self hosted service
  service/docs/self-hosted.md
Due: service

fix typescript error
  packages/bundlemon/src/main/utils/configUtils.ts
Due: packages

json output and doc
  docs/output.md
  packages/bundlemon/src/main/outputs/outputs/index.ts
  packages/bundlemon/src/main/outputs/outputs/json.ts
Due: packages

address pr comments
  packages/bundlemon/src/main/outputs/outputs/json.ts
  packages/bundlemon/src/main/utils/configUtils.ts
Due: packages

chore: release v1.2.0
  packages/bundlemon/package.json
Due: packages

custom ouput poc
  packages/bundlemon/src/main/outputs/outputs/custom.ts
  packages/bundlemon/src/main/outputs/outputs/index.ts
Due: packages

wip doc
  docs/output.md
Due: none

docs: initial contribution guide
  CONTRIBUTING.md
  README.md
  docker-compose.dev.yml
  package.json
  service/README.md
  service/dev.env
  service/docs/self-hosted.md
  service/package.json
  service/scripts/generateLocalData.ts
  service/src/framework/mongo.ts
  service/tsconfig.json
  service/tsconfig.release.json
Due: service

chore(deps): security fixes
  package.json
  yarn.lock
Due: none

validate file exist
  packages/bundlemon/src/main/outputs/outputs/custom.ts
Due: packages

add await
  docs/output.md
  packages/bundlemon/src/main/outputs/outputs/custom.ts
Due: packages

unit test for custom output
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/fixtures/async-custom-output.js
  packages/bundlemon/src/main/outputs/outputs/__tests__/fixtures/sync-custom-output.js
Due: packages

move markdown report generator to bundlemon utils
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/index.ts
  packages/bundlemon-utils/src/markdown/markdownReportGenerator.ts
  packages/bundlemon-utils/src/markdown/markdownUtils.ts
  packages/bundlemon/package.json
  service/package.json
  service/src/controllers/githubController.ts
  service/src/controllers/utils/markdownReportGenerator.ts
  website/package.json
Due: packages, service

feat: sub project
  README.md
  docker-compose.dev.yml
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon-utils/src/v1/types.ts
  packages/bundlemon/package.json
  packages/bundlemon/src/common/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/common/consts.ts
  packages/bundlemon/src/main/initializer.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
  packages/bundlemon/src/main/report/generateReport.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/docs/self-hosted.md
  service/package.json
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/controllers/utils/markdownReportGenerator.ts
  service/src/framework/github.ts
  service/src/framework/mongo.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/githubOutput.ts
  website/package.json
  website/src/pages/ReportsPage/ReportsPage.tsx
  website/src/pages/ReportsPage/components/QueryParamsForm.tsx
  website/src/pages/ReportsPage/components/ReportsChart/ReportsChart.tsx
  website/src/pages/ReportsPage/components/ReportsResult.tsx
  website/src/services/bundlemonService.ts
  website/src/utils/objectUtils.ts
Due: packages, service

fix tests when running with test-packages command & add tests
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/fixtures/async-custom-output-throw.js
  packages/bundlemon/src/main/outputs/outputs/__tests__/fixtures/not-a-function-custom-output.js
  packages/bundlemon/src/main/outputs/outputs/__tests__/fixtures/sync-custom-output-throw.js
  packages/bundlemon/src/main/outputs/outputs/custom.ts
Due: packages

typo
  docs/output.md
Due: none

chore: move generate report markdown to separate package
  Dockerfile
  packages/bundlemon-markdown-output/README.md
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/src/generator.ts
  packages/bundlemon-markdown-output/src/index.ts
  packages/bundlemon-markdown-output/src/markdownUtils.ts
  packages/bundlemon-markdown-output/src/types.ts
  packages/bundlemon-markdown-output/tsconfig-cjs.json
  packages/bundlemon-markdown-output/tsconfig.json
  packages/bundlemon-markdown-output/tsconfig.release.json
  packages/bundlemon-utils/src/index.ts
  packages/bundlemon/package.json
  packages/bundlemon/src/index.ts
  packages/bundlemon/src/main/index.ts
  packages/bundlemon/src/main/outputs/outputs/console.ts
  service/package.json
  service/src/controllers/githubController.ts
  service/src/controllers/utils/markdownReportGenerator.ts
  website/package.json
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/ChangeSizeCell.tsx
  website/src/pages/ReportPage/components/PathCell.tsx
  website/src/pages/ReportPage/components/StatusCell.tsx
Due: packages, service

feat: override subProject and defaultCompression with CLI
  docs/cli-flags.md
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon/src/cli/index.ts
  packages/bundlemon/src/cli/types.ts
Due: packages

feat(service): custom bundlemon app domain
  service/dev.env
  service/docs/self-hosted.md
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/utils/markdownReportGenerator.ts
  service/src/framework/env.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/utils/linkUtils.ts
  service/test.env
  website/webpack/webpack.dev.config.js
Due: service

bump bundlemon v1.3.0
  packages/bundlemon/package.json
Due: packages
