Repository LironEr/bundlemon: changes, and which Codecov flags are due for each by the changed paths.
All: packages, service

codecov.yml:

comment: false

flags:
  packages:
    paths:
      - packages/
  service:
    paths:
      - service/
coverage:
  status:
    patch: off
    project:
      default:
        only_pulls: true
        target: auto

use bundlemon action
  .github/workflows/build-web.yml
  website/package.json
Due: none

chore(docs): use bundlemon action (#180)
  .github/workflows/build-web.yml
  README.md
  website/package.json
Due: none

chore: script to delete old records
  README.md
  service/scripts/deleteOldRecords.ts
Due: service

chore: script to delete old records (#182)
  README.md
  service/scripts/deleteOldRecords.ts
Due: service

chore(website): upgrade dependencies
  website/package.json
  website/src/components/Layout/Layout.tsx
  website/src/index.tsx
  yarn.lock
Due: none

chore(website): upgrade dependencies (#185)
  website/package.json
  website/src/components/Layout/Layout.tsx
  website/src/index.tsx
  yarn.lock
Due: none

chore(service-deps): upgrade mongodb client
  docker-compose.dev.yml
  service/docker-compose.test.yml
  service/package.json
  service/src/framework/mongo/commitRecords/index.ts
  service/src/framework/mongo/projects.ts
  yarn.lock
Due: service

chore(service-deps): upgrade mongodb client (#190)
  docker-compose.dev.yml
  service/docker-compose.test.yml
  service/package.json
  service/src/framework/mongo/commitRecords/index.ts
  service/src/framework/mongo/projects.ts
  yarn.lock
Due: service

Changed hash regex to allow for _ and - in hashes.
  packages/bundlemon/src/main/analyzer/__tests__/__snapshots__/pathUtils.spec.ts.snap
  packages/bundlemon/src/main/analyzer/__tests__/fixtures/getFilesGroupByPattern/static/js/about.hja-sj2u.js
  packages/bundlemon/src/main/analyzer/__tests__/fixtures/getFilesGroupByPattern/static/js/about.hjasj2u.js
  packages/bundlemon/src/main/analyzer/__tests__/pathUtils.spec.ts
  packages/bundlemon/src/main/analyzer/pathUtils.ts
Due: packages

feat: custom path labels
  README.md
  docs/customPathLabels.md
  packages/bundlemon/package.json
  packages/bundlemon/src/common/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/common/consts.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/__snapshots__/pathUtils.spec.ts.snap
  packages/bundlemon/src/main/analyzer/__tests__/fileDetailsUtils.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/pathUtils.spec.ts
  packages/bundlemon/src/main/analyzer/analyzeLocalFiles.ts
  packages/bundlemon/src/main/analyzer/fileDetailsUtils.ts
  packages/bundlemon/src/main/analyzer/pathUtils.ts
  packages/bundlemon/src/main/initializer.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.ts
  packages/bundlemon/src/main/utils/configUtils.ts
Due: packages

set version
  packages/bundlemon/package.json
Due: packages

feat: custom path labels (#194)
  README.md
  docs/customPathLabels.md
  packages/bundlemon/package.json
  packages/bundlemon/src/common/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/common/consts.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/__snapshots__/pathUtils.spec.ts.snap
  packages/bundlemon/src/main/analyzer/__tests__/fileDetailsUtils.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/pathUtils.spec.ts
  packages/bundlemon/src/main/analyzer/analyzeLocalFiles.ts
  packages/bundlemon/src/main/analyzer/fileDetailsUtils.ts
  packages/bundlemon/src/main/analyzer/pathUtils.ts
  packages/bundlemon/src/main/initializer.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.ts
  packages/bundlemon/src/main/utils/configUtils.ts
Due: packages

fix: change branch size max length to 200
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  service/package.json
  website/package.json
Due: packages, service

fix: change branch size max length to 200 (#195)
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  service/package.json
  website/package.json
Due: packages, service

fix: change branch size max length to 200
  service/.gitignore
  service/src/consts/schemas.ts
Due: service

fix(service): return 413 when body size too large
  service/src/app.ts
  service/src/consts/server.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
Due: service

fix(service): return 413 when body size too large (#196)
  service/src/app.ts
  service/src/consts/server.ts
  service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
Due: service

chore(deps): update service dependencies
  service/package.json
  service/src/types/auth.ts
  yarn.lock
Due: service

chore(deps): update service dependencies (#201)
  service/package.json
  service/src/types/auth.ts
  yarn.lock
Due: service

WIP tests
  .prettierignore
  jest.config.base.ts
  jest.config.ts
  jest.preset.js
  package.json
  packages/bundlemon-markdown-output/jest.config.ts
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/project.json
  packages/bundlemon-utils/jest.config.ts
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/project.json
  packages/bundlemon/jest.config.ts
  packages/bundlemon/package.json
  packages/bundlemon/project.json
  packages/bundlemon/tsconfig.json
  packages/bundlemon/tsconfig.spec.json
  yarn.lock
Due: packages

fix lint & force node >= 18
  .eslintignore
  .eslintrc.json
  nx.json
  package.json
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon/lib/main/analyzer/__tests__/getFileSize.spec.ts
  packages/bundlemon/lib/main/outputs/outputs/custom.ts
  packages/bundlemon/lib/main/utils/ci/index.ts
  packages/bundlemon/lib/main/utils/configUtils.ts
  packages/bundlemon/package.json
  yarn.lock
Due: packages

WIP: service
  .eslintignore
  .eslintrc.json
  .gitignore
  apps/service/.development.env
  apps/service/.eslintrc.json
  apps/service/Dockerfile
  apps/service/jest.config.ts
  apps/service/package.json
  apps/service/project.json
  apps/service/scripts/generateSchemas.js
  apps/service/src/app.ts
  apps/service/src/local-certs/cert.pem
  apps/service/src/local-certs/key.pem
  apps/service/src/main.ts
  apps/service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
  apps/service/src/routes/api/__tests__/subprojectsRoutes.spec.ts
  apps/service/tsconfig.app.json
  apps/service/tsconfig.json
  apps/service/tsconfig.release.json
  apps/service/tsconfig.spec.json
  nx.json
  package.json
  yarn.lock
Due: none

WIP: service
  apps/service/project.json
Due: none

WIP
  apps/service/.test.env
  apps/service/jest.config.ts
  apps/service/package.json
  apps/website/.eslintrc.json
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/tsconfig.lib.json
  packages/bundlemon-utils/tsconfig.lib.json
  packages/bundlemon/tsconfig.lib.json
Due: packages

WIP: website
  .eslintrc.json
  apps/website/.env.development
  apps/website/.env.producation
  apps/website/.eslintrc.json
  apps/website/config/dev.env
  apps/website/config/prod.env
  apps/website/index.html
  apps/website/package.json
  apps/website/project.json
  apps/website/src/components/Layout/Layout.tsx
  apps/website/src/consts/config.ts
  apps/website/src/index.tsx
  apps/website/src/pages/ReportPage/components/ReportHeader/components/ReviewReportModal.tsx
  apps/website/src/typings/assets.d.ts
  apps/website/src/typings/styled.d.ts
  apps/website/src/typings/vite-env.d.ts
  apps/website/tsconfig.app.json
  apps/website/tsconfig.json
  apps/website/tsconfig.spec.json
  apps/website/typings/assets.d.ts
  apps/website/vite.config.ts
  nx.json
  package.json
  vitest.workspace.ts
  yarn.lock
Due: none

WIP: website
  apps/website/index.html
  apps/website/project.json
  apps/website/public/static/images/build-status-fail-max-size.png
  apps/website/public/static/images/build-status-pass.png
  apps/website/public/static/images/pr-comment.png
  apps/website/src/main.tsx
  apps/website/tsconfig.app.json
  apps/website/tsconfig.json
  apps/website/tsconfig.spec.json
  apps/website/vite.config.ts
  package.json
  vitest.workspace.ts
  yarn.lock
Due: none

WIP: website
  apps/website/src/Router.tsx
  apps/website/src/components/Layout/Layout.tsx
  apps/website/src/components/Layout/components/UserSection.tsx
  apps/website/src/components/LinkNoStyles.tsx
  apps/website/src/main.tsx
Due: none

WIP
  .dockerignore
  .gitignore
  Dockerfile
  apps/service/Dockerfile
  apps/service/api/serverless.js
  apps/service/project.json
  apps/service/src/app.ts
  apps/service/src/main.ts
  apps/service/vercel.json
  apps/website/src/pages/ReportsPage/components/ReportsChart/index.ts
  apps/website/src/pages/index.ts
  apps/website/webpack/webpack.base.config.js
  apps/website/webpack/webpack.config.js
  apps/website/webpack/webpack.dev.config.js
  apps/website/webpack/webpack.prod.config.js
  dev-utils/getJestConfig.ts
  docker-compose.dev.yml
  package.json
  yarn.lock
Due: none

WIP
  packages/bundlemon-markdown-output/project.json
  packages/bundlemon-utils/project.json
  packages/bundlemon/lib/cli/__tests__/assets/bad-format.js
  packages/bundlemon/project.json
Due: packages

WIP
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  CONTRIBUTING.md
  apps/service/package.json
  apps/service/tsconfig.json
  apps/website/package.json
  package.json
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/project.json
  packages/bundlemon-markdown-output/tsconfig.json
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/project.json
  packages/bundlemon-utils/tsconfig.json
  packages/bundlemon/package.json
  yarn.lock
Due: packages

WIP
  .eslintrc.json
  apps/service/.eslintrc.json
  apps/website/package.json
  yarn.lock
Due: none

WIP
  apps/service/package.json
  apps/website/package.json
  apps/website/vite.config.ts
Due: none

WIP
  apps/website/src/components/Layout/Layout.tsx
  apps/website/src/typings/assets.d.ts
Due: none

try to fix CI when build website with svgr
  apps/website/package.json
  apps/website/src/assets/Logo.svg
  apps/website/src/components/Layout/Layout.tsx
  apps/website/src/components/Layout/components/Logo.tsx
  apps/website/src/typings/assets.d.ts
  apps/website/vite.config.ts
  yarn.lock
Due: none

fix lint & missing swc
  apps/service/project.json
  apps/website/.eslintignore
  apps/website/project.json
  nx.json
  package.json
  packages/bundlemon-markdown-output/project.json
  packages/bundlemon-utils/project.json
  packages/bundlemon/project.json
  yarn.lock
Due: packages

WIP
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  apps/service/src/routes/api/__tests__/projectsRoutes.spec.ts
  apps/website/.bundlemonrc.json
Due: none

WIP
  .github/workflows/codeql.yml
  apps/service/project.json
  apps/service/src/framework/mongo/client.ts
  apps/service/src/routes/api/__tests__/projectsRoutes.spec.ts
Due: none
