Repository LironEr/bundlemon: changes, and which Codecov flags are due for each by the changed paths.
All: packages, service

codecov.yml:

flags:
  packages:
    paths:
      - packages/
  service:
    paths:
      - service/

chore(service): upgrade mongodb client to prepare for mongodb v5 server upgrade
  docker-compose.dev.yml
  service/docker-compose.test.yml
  service/package.json
  service/src/framework/mongo.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  yarn.lock
Due: service

chore(web-deps): upgrade website dependencies
  CONTRIBUTING.md
  website/package.json
  website/src/Router.tsx
  website/src/pages/CreateProjectPage.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportsPage/ReportsPage.tsx
  yarn.lock
Due: none

chore: add CodeQL
  .github/workflows/codeql-analysis.yml
Due: none

fix: compare records to previous commit when base branch not exist
  service/package.json
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/utils/auth.ts
  service/src/framework/mongo.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/types/schemas/commitRecords.ts
  service/tests/utils.ts
  yarn.lock
Due: service

chore(dev-deps): update webpack-dev-server
  yarn.lock
Due: none

fix: allow "queued" action status when creating a record
  service/package.json
  service/src/app.ts
  service/src/controllers/githubController.ts
  service/src/controllers/utils/auth.ts
  yarn.lock
Due: service

fix: travis CI set pr number as "false" on non PR
  packages/bundlemon/package.json
  packages/bundlemon/src/main/utils/ci/providers/travis.ts
Due: packages

feat(server): get subproject list
  service/src/consts/schemas.ts
  service/src/controllers/subprojectsController.ts
  service/src/framework/mongo.ts
  service/src/routes/api/__tests__/subprojectsRoutes.spec.ts
  service/src/routes/api/v1.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/common.ts
  service/src/types/schemas/subprojects.ts
Due: service

feat(website): autocomplete subprojects
  website/package.json
  website/src/pages/ReportsPage/ReportsPage.tsx
  website/src/pages/ReportsPage/components/QueryParamsForm.tsx
  website/src/pages/ReportsPage/components/SubprojectsAutocomplete.tsx
  website/src/services/bundlemonService.ts
  yarn.lock
Due: none

feat(website): suspense charts load
  website/src/pages/ReportsPage/components/ReportsChart/index.ts
  website/src/pages/ReportsPage/components/ReportsResult.tsx
Due: none

chore(dev-deps): update website dev tools
  website/package.json
  website/webpack/webpack.base.config.js
  website/webpack/webpack.dev.config.js
  yarn.lock
Due: none

Fix: groups shouldn't stop on match
  packages/bundlemon/src/main/analyzer/fileDetailsUtils.ts
Due: packages

bump version
  packages/bundlemon/package.json
Due: packages

improve report text to have numbers first
  packages/bundlemon-utils/src/textUtils.ts
Due: packages

chore(service-deps): upgrade cors
  service/package.json
  service/src/app.ts
  yarn.lock
Due: service

bump bundlemon-markdown-output version
  packages/bundlemon-markdown-output/package.json
  service/package.json
Due: packages, service

WIP: auth
  package.json
  packages/bundlemon-utils/src/consts.ts
  service/package.json
  service/src/app.ts
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/consts/commitRecords.ts
  service/src/consts/schemas.ts
  service/src/controllers/commitRecordsController.ts
  service/src/controllers/githubController.ts
  service/src/controllers/legacyGithubController.ts
  service/src/controllers/projectsController.ts
  service/src/controllers/subprojectsController.ts
  service/src/controllers/utils/auth.ts
  service/src/framework/github.ts
  service/src/framework/mongo/client.ts
  service/src/framework/mongo/commitRecords.ts
  service/src/framework/mongo/projects.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  service/src/routes/api/__tests__/subprojectsRoutes.spec.ts
  service/src/routes/api/v1.ts
  service/src/types.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/common.ts
  service/src/types/schemas/githubOutput.ts
  service/src/types/schemas/projects.ts
  service/src/utils/projectUtils.ts
  service/src/utils/reportUtils.ts
  service/tests/projectUtils.ts
  yarn.lock
Due: packages, service

fix tests
  packages/bundlemon/src/common/service.ts
  packages/bundlemon/src/main/outputs/outputManager.ts
  service/package.json
  service/src/consts/schemas.ts
  service/src/controllers/utils/auth.ts
  service/src/routes/api/__tests__/commitRecordsRoutes.spec.ts
  service/src/routes/api/__tests__/projectsRoutes.spec.ts
  service/src/types/schemas/commitRecords.ts
  service/src/types/schemas/common.ts
  service/tests/hooks.ts
  service/tests/projectUtils.ts
  service/tests/utils.ts
  yarn.lock
Due: packages, service

add new GitHub output controller
  service/src/controllers/githubController.ts
  service/src/controllers/legacyGithubController.ts
  service/src/controllers/projectsController.ts
  service/src/controllers/utils/auth.ts
  service/src/controllers/utils/githubOutputs.ts
  service/src/routes/api/v1.ts
Due: service

Add funding & badges
  .github/FUNDING.yml
  README.md
Due: none

bump utils version & fix tests
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/__tests__/__snapshots__/consts.spec.ts.snap
  service/scripts/generateLocalData.ts
Due: packages, service

update utils version
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon/package.json
  service/package.json
  website/package.json
Due: packages, service

chore: change default node version to 16
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
  README.md
Due: none

fix (markdown-output): escape pipe character
  packages/bundlemon-markdown-output/jest.config.js
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/src/__tests__/markdownUtils.spec.ts
  packages/bundlemon-markdown-output/src/markdownUtils.ts
Due: packages

fix (markdown-output): escape pipe character (#105)
  packages/bundlemon-markdown-output/jest.config.js
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/src/__tests__/markdownUtils.spec.ts
  packages/bundlemon-markdown-output/src/markdownUtils.ts
Due: packages

feat: friendly name for patterns
  Dockerfile
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/src/generator.ts
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/diffReport/__tests__/index.spec.ts
  packages/bundlemon-utils/src/diffReport/index.ts
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  packages/bundlemon/src/main/__tests__/index.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/fileDetailsUtils.spec.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/package.json
  service/src/app.ts
  service/src/consts/schemas.ts
  website/.bundlemonrc.json
  website/package.json
  website/src/components/PathCell.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/PathCell.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/pages/ReportsPage/components/ReportsChart/components/LegendDataTable.tsx
  website/src/pages/ReportsPage/components/types.ts
Due: packages, service

Add friendlyName to docs
  docs/types.md
Due: none

feat: friendly name for patterns (#106)
  Dockerfile
  docs/types.md
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-markdown-output/src/generator.ts
  packages/bundlemon-utils/package.json
  packages/bundlemon-utils/src/diffReport/__tests__/index.spec.ts
  packages/bundlemon-utils/src/diffReport/index.ts
  packages/bundlemon-utils/src/types.ts
  packages/bundlemon/package.json
  packages/bundlemon/src/main/__tests__/index.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/fileDetailsUtils.spec.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/package.json
  service/src/app.ts
  service/src/consts/schemas.ts
  website/.bundlemonrc.json
  website/package.json
  website/src/components/PathCell.tsx
  website/src/pages/ReportPage/ReportPage.tsx
  website/src/pages/ReportPage/components/PathCell.tsx
  website/src/pages/ReportPage/components/index.ts
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/pages/ReportsPage/components/ReportsChart/components/LegendDataTable.tsx
  website/src/pages/ReportsPage/components/types.ts
Due: packages, service

fi(website): use the latest record to get the most updated friendly name
  website/src/components/PathCell.tsx
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/utils/textUtils.ts
Due: none

fix
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
Due: none

fix(website): use the latest record to get the most updated friendly name (#108)
  website/src/components/PathCell.tsx
  website/src/pages/ReportsPage/components/ReportsChart/ReportsStore.ts
  website/src/utils/textUtils.ts
Due: none

chore(dev-deps): upgrade lerna
  package.json
  yarn.lock
Due: none

BREAKING CHANGE: support node >= 14
  .github/workflows/checks.yml
  packages/bundlemon/package.json
Due: packages

chore(dev-deps): upgrade lerna (#112)
  package.json
  yarn.lock
Due: none

feat: optional files option
  README.md
  packages/bundlemon/src/main/utils/configUtils.ts
Due: packages

feat: optional files option (#113)
  README.md
  packages/bundlemon/src/main/utils/configUtils.ts
Due: packages

chore(deps): upgrade
  package.json
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon/package.json
  packages/bundlemon/src/common/service.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/getFileSize.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/pathUtils.spec.ts
  packages/bundlemon/src/main/analyzer/getFileSize.ts
  packages/bundlemon/src/main/analyzer/pathUtils.ts
  packages/bundlemon/src/main/initializer.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/outputs/outputs/custom.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
  packages/bundlemon/src/main/outputs/outputs/json.ts
  packages/bundlemon/src/main/types.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/package.json
  service/scripts/generateLocalData.ts
  yarn.lock
Due: packages, service

revert some upgrades
  packages/bundlemon/package.json
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/getFileSize.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/pathUtils.spec.ts
  packages/bundlemon/src/main/analyzer/getFileSize.ts
  packages/bundlemon/src/main/analyzer/pathUtils.ts
  packages/bundlemon/src/main/initializer.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/outputs/outputs/custom.ts
  packages/bundlemon/src/main/outputs/outputs/json.ts
  packages/bundlemon/src/main/utils/configUtils.ts
  service/scripts/generateLocalData.ts
  yarn.lock
Due: packages, service

remove engine from service
  service/package.json
Due: service

chore(deps): upgrade (#114)
  package.json
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon-utils/package.json
  packages/bundlemon/package.json
  packages/bundlemon/src/common/service.ts
  packages/bundlemon/src/main/outputs/outputs/github.ts
  packages/bundlemon/src/main/types.ts
  service/package.json
  yarn.lock
Due: packages, service
