Repository LironEr/bundlemon: changes, and which Codecov flags are due for each by the changed paths.
All: packages, service

chore: upgrade Github actions
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
  README.md
Due: none

chore: upgrade Github actions (#152)
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
  README.md
Due: none

fix(website): deploy commit message
  .github/workflows/build-web.yml
Due: none

fix(website): deploy command
  .gitignore
  website/package.json
Due: none

chore: update deps
  package.json
  packages/bundlemon/package.json
  website/package.json
  yarn.lock
Due: packages

chore: update deps (#153)
  package.json
  packages/bundlemon/package.json
  website/package.json
  yarn.lock
Due: packages

chore: release
  README.md
  packages/bundlemon-utils/package.json
  packages/bundlemon/package.json
Due: packages

fix: retry failed network requests
  packages/bundlemon/package.json
  packages/bundlemon/src/common/service.ts
  yarn.lock
Due: packages

fix: retry failed network requests (#160)
  packages/bundlemon/package.json
  packages/bundlemon/src/common/service.ts
  yarn.lock
Due: packages

deps: use the right utils version
  .dockerignore
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon/package.json
  service/package.json
  website/package.json
  yarn.lock
Due: packages, service

deps: use the right utils version (#161)
  .dockerignore
  packages/bundlemon-markdown-output/package.json
  packages/bundlemon/package.json
  service/package.json
  website/package.json
  yarn.lock
Due: packages, service

fix: add retry log
  packages/bundlemon/src/common/service.ts
Due: packages

fix: add retry log (#162)
  packages/bundlemon/src/common/service.ts
Due: packages

chore: bump version
  packages/bundlemon/package.json
Due: packages

chore: delete stale branches
  README.md
  service/scripts/deleteStaleBranches.ts
Due: service

chore: delete stale branches (#166)
  README.md
  service/scripts/deleteStaleBranches.ts
Due: service

chore: update deps
  package.json
  packages/bundlemon-utils/src/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/common/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/main/__tests__/index.spec.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/__snapshots__/pathUtils.spec.ts.snap
  packages/bundlemon/src/main/analyzer/__tests__/analyzeLocalFiles.spec.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  service/package.json
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
  website/package.json
  website/src/index.tsx
  yarn.lock
Due: packages, service

change max workers for jest to 1
  jest.config.base.ts
Due: none

fix high memory
  jest.config.base.ts
Due: none

try fix high memory in CI
  jest.config.base.ts
Due: none

try fix high memory in CI
  .github/workflows/checks.yml
  jest.config.base.ts
Due: none

chore: update deps (#167)
  .github/workflows/checks.yml
  jest.config.base.ts
  package.json
  packages/bundlemon-utils/src/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/common/__tests__/__snapshots__/consts.spec.ts.snap
  packages/bundlemon/src/main/__tests__/index.spec.ts
  packages/bundlemon/src/main/__tests__/initializer.spec.ts
  packages/bundlemon/src/main/analyzer/__tests__/__snapshots__/pathUtils.spec.ts.snap
  packages/bundlemon/src/main/analyzer/__tests__/analyzeLocalFiles.spec.ts
  packages/bundlemon/src/main/outputs/outputs/__tests__/custom.spec.ts
  packages/bundlemon/src/main/utils/__tests__/configUtils.spec.ts
  service/package.json
  service/src/consts/__tests__/__snapshots__/commitRecords.spec.ts.snap
  service/src/routes/api/__tests__/commitRecordsRoutes/createCommitRecord.spec.ts
  website/package.json
  website/src/index.tsx
  yarn.lock
Due: packages, service

fix: nicer error message on bad config file
  packages/bundlemon/src/cli/__tests__/assets/bad-format.js
  packages/bundlemon/src/cli/__tests__/assets/bad-format.json
  packages/bundlemon/src/cli/__tests__/assets/bad-format.yaml
  packages/bundlemon/src/cli/__tests__/assets/empty.json
  packages/bundlemon/src/cli/__tests__/configFile.spec.ts
  packages/bundlemon/src/cli/configFile.ts
Due: packages

add success case
  packages/bundlemon/src/cli/__tests__/assets/success.json
  packages/bundlemon/src/cli/__tests__/configFile.spec.ts
Due: packages

fix: nicer error message on bad config file (#172)
  packages/bundlemon/src/cli/__tests__/assets/bad-format.js
  packages/bundlemon/src/cli/__tests__/assets/bad-format.json
  packages/bundlemon/src/cli/__tests__/assets/bad-format.yaml
  packages/bundlemon/src/cli/__tests__/assets/empty.json
  packages/bundlemon/src/cli/__tests__/assets/success.json
  packages/bundlemon/src/cli/__tests__/configFile.spec.ts
  packages/bundlemon/src/cli/configFile.ts
Due: packages

chore(dev-deps): upgrade & change default workflow version to node 18
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  lerna.json
  package.json
  website/package.json
  yarn.lock
Due: none

more dev deps upgrades
  website/package.json
  website/webpack/webpack.base.config.js
  yarn.lock
Due: none

chore(dev-deps): upgrade & change default workflow version to node 18 (#173)
  .github/workflows/build-web.yml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  lerna.json
  package.json
  website/package.json
  website/webpack/webpack.base.config.js
  yarn.lock
Due: none

chore: bump version
  packages/bundlemon/package.json
  yarn.lock
Due: packages

internal: add script to delete all project commit records
  service/scripts/deleteProjectRecords.ts
Due: service

chore(ci): fix expression injection in Actions
  .github/workflows/build-web.yml
Due: none

chore(ci): fix expression injection in Actions (#176)
  .github/workflows/build-web.yml
Due: none

chore(deps): upgrade service dependencies
  package.json
  service/package.json
  service/vercel.json
  yarn.lock
Due: service

eslint fix
  website/src/services/FetchError.ts
Due: none

chore(deps): upgrade service dependencies (#177)
  package.json
  service/package.json
  service/vercel.json
  website/src/services/FetchError.ts
  yarn.lock
Due: service

chore(ci): stop check node 14 & 16
  .github/workflows/checks.yml
  Dockerfile
Due: none

chore(ci): stop check node 14 & 16 (#178)
  .github/workflows/checks.yml
  Dockerfile
Due: none

chose(docs): use bundlemon action
  README.md
Due: none

Path conditions:
  packages: any of: packages/
  service: any of: service/
